.form {
    display: grid;
    gap: 1rem;
    max-width: 520px;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--space-md);
}

input,
textarea {
    padding: 1rem;
    border-radius: 0.6rem;
    border: 2px solid var(--pastel-orange);
    font-size: var(--fs-md);
}

input:focus,
textarea:focus {
    outline: none;
    border-color: var(--energetic-orange);
}
