.swing {
    animation: swing 1s ease-in-out;
}

.rise {
    animation: rise 1s ease-out both;
}

@keyframes swing {
    20% {
        transform: rotate3d(0, 0, 1, 15deg);
    }
    40% {
        transform: rotate3d(0, 0, 1, -10deg);
    }
    60% {
        transform: rotate3d(0, 0, 1, 5deg);
    }
    80% {
        transform: rotate3d(0, 0, 1, -5deg);
    }
    to {
        transform: rotate3d(0, 0, 1, 0deg);
    }
}

@keyframes rise {
    from {
        transform: translateY(-10px);
    }
    to {
        transform: translateY(0);
    }
}
