.banner {
    width: 100vw;
    margin-left: calc(50% - 50vw);
    padding: 15vh 0;

    background: var(--energetic-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: var(--space-xxl);
    position: relative;
    margin-bottom: 30px;
    margin-top: calc(-1 * 40px);
}

.bannerInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: var(--space-xl);
}

.bannerKicker,
.bannerSubtitle {
    text-align: center;
    letter-spacing: var(--space-xs);
    color: rgb(252, 242, 222);
    font-weight: 500;
    font-size: clamp(1rem, 1.6vw, 1.8rem);
}

.bannerLogo {
    font-weight: 700;
    color: wheat;
    font-size: clamp(2rem, 11vw, 8rem);
    text-transform: uppercase;
    user-select: none;
}

.reversedK {
    display: inline-block;
    transform: scaleX(-1);
    color: wheat;
}

.themeSwitcher {
    display: none;
    width: 80%;
    max-width: 1200px;
}

@media (min-width: 768px) {
    .themeSwitcher {
        display: flex;
        justify-content: end;
    }
}
