.banner {
    width: 100vw;
    margin-left: calc(50% - 50vw);
    height: 75vh;
    background: linear-gradient(90deg, #b77ccf, #e9945b, #f3d448, #5ed1d6);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2.5rem;
    position: relative;
    margin-bottom: 30px;
    margin-top: calc(-1 * 30px);
}

.bannerInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2.5rem;
}

.bannerKicker,
.bannerSubtitle {
    text-align: center;
    letter-spacing: var(--space-xs);
    color: rgb(252, 242, 222);
    font-weight: 500;
    font-size: clamp(1rem, 1.6vw, 1.8rem);
}

.bannerLogo {
    font-weight: 700;
    color: wheat;
    font-size: clamp(2rem, 11vw, 6rem);
    text-transform: uppercase;
    user-select: none;
}

.reversedK {
    display: inline-block;
    transform: scaleX(-1);
    color: wheat;
}

.themeSwitcher {
    display: none;
}

@media (min-width: 768px) {
    .themeSwitcher {
        display: block;
        position: absolute;
        right: 20px;
        bottom: 20px;
    }

    .bannerInfo {
        gap: 1rem;
    }
}
