.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-xs);
    width: 100%;
}

.table {
    width: 90%;
}

.actions {
    text-align: center;
}

.iconBtn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.6rem;
    border-radius: 6px;
    transition: background-color 0.2s ease;
}

.iconBtn img {
    width: 20px;
    height: 20px;
    display: block;
}

.iconBtn:hover {
    background-color: rgba(0, 0, 0, 0.08);
}

.iconBtn:active {
    background-color: rgba(0, 0, 0, 0.15);
}

.table th:nth-child(2),
.table td:nth-child(2),
.table th:nth-child(3),
.table td:nth-child(3) {
    display: none;
}

.createBtn {
    padding: 0.5rem;
}

.badgeButton {
    all: unset;
    cursor: pointer;
    display: inline-block;
}
.badgeButton:hover {
    outline: 1px solid rgb(135, 132, 132);
    border-radius: 20px;
}

@media (min-width: 576px) {
    .table th:nth-child(2),
    .table td:nth-child(2),
    .table th:nth-child(3),
    .table td:nth-child(3) {
        display: table-cell;
    }
}
