.card {
    border-radius: var(--radius-lg);
    border: 2px solid rgba(251, 202, 66, 0.08);
    padding: var(--space-md) var(--space-sm);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1),
        -10px -10px 20px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease,
        border-color 0.1s ease;
    background-color: var(--plane-bg);
}

.hover:hover {
    transform: translateY(-6px) scale(1.02);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.18);
    border-color: rgba(0, 0, 0, 0.15);
}
