.pageTitle {
    background: var(--energetic-bg);
    width: fit-content;
}

.pageTitle h1 {
    color: rgb(252, 246, 235);
}

.subtitle {
    color: var(--color-text);
    font-size: var(--fs-md);
    line-height: 1.4;
}
