.register {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
    margin: 50px auto;
    width: 90%;
    max-width: 450px;
}

.register input {
    padding: var(--space-md);
    border-radius: var(--radius-sm);
    border: 2px solid var(--pastel-orange);
    font-size: var(--fs-md);
}

.register input:focus {
    outline: none;
    border-color: var(--energetic-orange);
}

.submitBtn {
    background-color: var(--variable-orange);
    color: white;
    padding: var(--space-md);
    border: none;
    border-radius: var(--radius-md);
    cursor: pointer;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
}

.submitBtn:hover {
    background-color: var(--variable-blue);
}
