.container {
    width: 100%;
    height: 86vh;
    background: linear-gradient(90deg, #b77ccf, #e9945b, #f3d448, #5ed1d6);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: var(--space-xxl);
    position: relative;
}

.infoBanner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: var(--space-xl);
}

.welcome,
.subtitle {
    text-align: center;
    letter-spacing: var(--space-xs);
    color: rgb(252, 242, 222);
    font-weight: 500;
    font-size: clamp(1rem, 2vw, 4rem);
}

.logo {
    font-weight: 700;
    color: wheat;
}

.reversedK {
    display: inline-block;
    transform: scaleX(-1);
    color: wheat;
}

.switcherWrapper {
    display: none;
}

@media (min-width: 768px) {
    .switcherWrapper {
        display: block;
        position: absolute;
        right: 20px;
        bottom: 20px;
    }
}
