.login {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.helperText {
    font-size: var(--fs-sm);
}

.registerLink {
    font-weight: 600;
    color: var(--energetic-blue);
    font-size: var(--fs-sm);
}

.forgot {
    text-align: start;
    font-size: var(--fs-sm);
}
.forgot a {
    color: var(--energetic-blue);
    text-decoration: underline;
}
