.card {
    width: 100%;
    margin: auto;
    max-width: 600px;
}

.login {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--space-md);
    margin-bottom: 20px;
}

.registerLink {
    color: var(--energetic-blue);
}

.forgot {
    text-align: start;
}

.forgot a {
    color: var(--energetic-blue);
    text-decoration: underline;
}
