* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

main {
    padding-top: var(--nav-h);
    background-color: rgb(250, 249, 247);
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}
