* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

main {
    padding-top: calc(var(--nav-h) - 3px);
    background-color: #f0f0f0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}
