html {
    font-family: var(--font-main);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    color: var(--color-text);
    font-size: var(--fs-md);
    line-height: var(--lh-normal);
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    letter-spacing: var(--ls-heading);
    text-transform: uppercase;
    color: #4b4b4c;
}

h1 {
    font-size: var(--fs-xl);
    line-height: var(--lh-tight);
}

.h1 {
    color: rgb(249, 242, 230);
    background: var(--variable-bg-title);
    padding: var(--space-sm) var(--space-xs);
    font-weight: 800;
    border-radius: 1rem;
    width: 100%;
    text-align: center;
}

h2 {
    font-size: var(--fs-lg);
    line-height: var(--lh-snug);
    text-align: center;
}

h3 {
    font-size: var(--fs-lg);
    line-height: var(--lh-snug);
    font-weight: 400;
}

h4 {
    font-size: var(--fs-lg);
    line-height: var(--lh-snug);
}

h5,
h6 {
    font-size: var(--fs-md);
    line-height: var(--lh-snug);
}

p {
    font-size: var(--fs-md);
    line-height: var(--lh-normal);
}

button,
input,
select,
textarea,
span {
    font-family: inherit;
    font-size: inherit;
}
