:root {
    /* Text Colors*/
    --color-text: #444444;
    --color-heading: #555555;

    /* Colors - Pastel Mode */
    --pastel-purple: #caa8d9;
    --pastel-pink: #fac8c4;
    --pastel-yellow: #f9de8b;
    --pastel-blue: #9ce0e8;
    --pastel-green: #a8d5ba;
    --pastel-red: #f5a3a3;
    --pastel-orange: #f8d0a1;

    /* Colors - Energetic Mode */
    --energetic-purple: #9b59b6;
    --energetic-pink: #ff6b81;
    --energetic-yellow: #f1c40f;
    --energetic-blue: #3498db;
    --energetic-green: #27ae60;
    --energetic-red: #e74c3c;
    --energetic-orange: #f39c12;
}

/* Pastel theme */
[data-theme="pastel"] {
    --variable-purple: var(--pastel-purple);
    --variable-pink: var(--pastel-pink);
    --variable-yellow: var(--pastel-yellow);
    --variable-blue: var(--pastel-blue);
    --variable-green: var(--pastel-green);
    --variable-red: var(--pastel-red);
    --variable-orange: var(--pastel-orange);

    --background-body: #f0f0f0;
}

/* Energetic theme */
[data-theme="energetic"] {
    --variable-purple: var(--energetic-purple);
    --variable-pink: var(--energetic-pink);
    --variable-yellow: var(--energetic-yellow);
    --variable-blue: var(--energetic-blue);
    --variable-green: var(--energetic-green);
    --variable-red: var(--energetic-red);
    --variable-orange: var(--energetic-orange);

    --background-body: linear-gradient(
        90deg,
        #b77ccf,
        #e9945b,
        #f3d448,
        #5ed1d6
    );
}
