/* ===== General HomePage ===== */
.home {
    padding-bottom: var(--space-xxl);
    display: flex;
    flex-direction: column;
    gap: var(--space-xl);
}

.homeInner {
    margin: auto;
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: var(--space-xl);
}

/* Headings */
.home h2 {
    font-size: clamp(2rem, 4vw, 2.5rem);
    margin-bottom: var(--space-xl);
    text-align: center;
    letter-spacing: 0.2rem;
}
.sectionWho h2 {
    color: var(--energetic-green);
}
.sectionWhat h2 {
    color: var(--pastel-red);
}
.sectionValues h2 {
    color: var(--variable-blue);
}
.sectionFaqs h2 {
    color: var(--variable-purple);
}
.sectionContact h2 {
    color: var(--variable-orange);
}

/* General Sections */
.sectionBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: var(--space-lg);
}

.sectionMedia {
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
    border-radius: var(--radius-xxl);
}

/* ===== WHAT WE DO ===== */
.featureList {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: auto;
    gap: var(--space-md);
}

.featureList li {
    display: flex;
    align-items: center;
    gap: var(--space-md);
}

.featureList img {
    width: 35px;
}

/* ===== VALUES ===== */
.chipList {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: var(--space-md);
}

.chip {
    padding: var(--space-sm);
    border-radius: var(--radius-lg);
    color: white;
    font-weight: bold;
    text-align: center;
    min-width: 120px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12);
    transition: box-shadow 0.3s ease, transform 0.3s ease,
        border-color 0.3s ease;
    overflow: hidden;
}

.chip:hover {
    transform: translateY(-6px) scale(1.02);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.18);
    border-color: rgba(0, 0, 0, 0.15);
}

/* ===== CONTACT ===== */

.sectionContact .sectionBody p {
    text-align: center;
}

@media (min-width: 768px) {
    .sectionWho .sectionBody {
        flex-direction: row;
    }

    .sectionWho .sectionMedia {
        flex: 0 0 60%;
        max-width: none;
    }

    .sectionWho .sectionBody p {
        flex: 0 0 40%;
    }

    .sectionValues .chip {
        padding: var(--space-md);
    }
}
