.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--space-xl);
    width: 100%;
    height: var(--nav-h);
    background: linear-gradient(90deg, #b77ccf, #e9945b, #f3d448, #5ed1d6);
    position: fixed;
    z-index: 1000;
}

.logoWrapper {
    display: flex;
    align-items: center;
}

.logo {
    height: 30px;
}

.navLinks {
    display: none;
    gap: var(--space-lg);
    text-transform: uppercase;
    color: white;
    font-weight: 300;
}

.actions {
    display: none;
    align-items: center;
    gap: var(--space-sm);
}

@media (min-width: 576px) {
    .navLinks {
        display: flex;
    }

    .actions {
        display: flex;
    }
}
