.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    width: 100%;
    height: var(--nav-h);
    background: linear-gradient(90deg, #b77ccf, #e9945b, #f3d448, #5ed1d6);
    position: fixed;
    z-index: 1000;
}

.logoWrapper {
    display: flex;
    align-items: center;
}

.logo {
    height: 20px;
}

.navLinks {
    display: none;
    align-items: center;
    gap: var(--space-lg);
}

.navLinks li:not(.cta) > a {
    text-transform: uppercase;
    color: white;
    font-size: 1rem;
    font-weight: 300;
    transition: color 0.2s ease, border-color 0.2s ease;
    border-bottom: 2px solid transparent;
    padding-bottom: 3px;
    letter-spacing: 0.1rem;
}

.navLinks li:not(.cta) > a:hover {
    border-bottom-color: rgb(249, 245, 236);
}

@media (min-width: 768px) {
    .navLinks {
        display: flex;
    }

    .actions {
        display: flex;
    }

    .logo {
        height: 27px;
    }
}
