.navbar {
    display: flex;
    justify-content: center;
    padding: 1rem;
    height: var(--nav-h);
    background: var(--energetic-bg);
    position: fixed;
    z-index: 1000;
    left: 0;
    right: 0;
    top: 0;
}

.navbarContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 1200px;
}

.logoWrapper {
    display: flex;
    align-items: center;
}

.logo {
    height: 20px;
}

.navLinks {
    display: none;
    gap: 0.9rem;
}

.navLinks li:not(.cta) > a {
    text-transform: uppercase;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    transition: color 0.2s ease, border-color 0.2s ease;
    border-bottom: 2px solid transparent;
    padding-bottom: 3px;
}

.navLinks li:not(.cta) > a:hover {
    border-bottom-color: rgb(249, 245, 236);
}

@media (min-width: 768px) {
    .navLinks {
        display: flex;
        align-items: center;
    }

    .logo {
        height: 27px;
    }
}
