/* Base button styles */
.button {
    display: inline-block;
    text-transform: uppercase;
    border-radius: var(--radius-md);
    text-align: center;
    cursor: pointer;
    transition: background 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    letter-spacing: 0.1rem;
    font-weight: 800;
}

.button:hover {
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.3);
}

/* ===== Variants ===== */

/* Primary button */
.primary {
    background-color: var(--variable-purple);
    color: rgb(247, 243, 235);
    border: 2px solid wheat;
}

.primary:hover {
    background-color: transparent;
    color: #fff;
}

/* Secondary button */
.secondary {
    background-color: transparent;
    color: var(--variable-purple);
    border: 2px solid var(--variable-purple);
}

.secondary:hover {
    background-color: var(--variable-purple);
    color: #fff;
}

/* Third button */

.third {
    background-color: var(--variable-pink);
    color: #fff;
}

.third:hover {
    background-color: var(--variable-blue);
}

/* ===== Sizes ===== */

/* Small */
.small {
    font-size: var(--fs-sm);
    padding: var(--space-xs);
}

/* Default medium size */
.medium {
    font-size: var(--fs-md);
    padding: var(--space-sm) var(--space-md);
}

/* Large */
.large {
    font-size: var(--fs-md);
    padding: var(--space-md) var(--space-lg);
    border-radius: var(--radius-lg);
}
