.section {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
}

.article {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
}

.password {
    display: flex;
    justify-content: center;
    gap: var(--space-md);
}

.switcherWrapper {
    display: flex;
    margin: auto;
    gap: var(--space-md);
}
