.section {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
}

.article {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
}

.password {
    display: flex;
    justify-content: center;
    gap: var(--space-md);
}

.switcherWrapper {
    display: flex;
    margin: auto;
    gap: var(--space-md);
}

/* ===== Waitlist (merchan pendent) ===== */
.waitlist {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);

    margin: auto;
}

.itemInfo {
    display: flex;
    gap: var(--space-sm);
}

.waitItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--space-md);
}

.waitImg {
    object-fit: cover;
    width: 100px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    background: #fff;
}

.waitInfo h3 {
    font-size: var(--fs-md);
    font-weight: 600;
}

.waitPrice {
    margin: 0;
    font-weight: 700;
    color: var(--energetic-green);
}

.handleLeaveBtn {
    background: none;
    border: none;
    cursor: pointer;
}

/* Responsive */
@media (min-width: 720px) {
    .waitlist {
        grid-template-columns: 1fr 1fr;
    }
}
