/* ===== General HomePage ===== */

.homeInner {
    display: flex;
    flex-direction: column;
    gap: var(--space-xxl);
}

/* Headings */
.home h2 {
    color: rgb(247, 233, 208);
    letter-spacing: 0.5rem;
    font-size: 3rem;
    background: var(--energetic-bg);
    padding: 0.75rem 1.5rem;
    font-weight: 800;
    border-radius: 1rem;
    width: fit-content;
    max-width: 500px;
    margin: 0 auto var(--space-xxl);
}

/* General Sections */
.sectionBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    gap: var(--space-xxl);
}

/* ===== VALUES ===== */
.chipList {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: var(--space-md);
}

.chip {
    padding: 1rem;
    border-radius: 1rem;
    color: white;
    font-weight: bold;
    text-align: center;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12);
    transition: box-shadow 0.3s ease, transform 0.3s ease,
        border-color 0.3s ease;
    overflow: hidden;
}

.chip:hover {
    transform: translateY(-6px) scale(1.02);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.18);
    border-color: rgba(0, 0, 0, 0.15);
}

/* ===== CONTACT ===== */

.sectionContact {
    text-align: center;
}

@media (min-width: 768px) {
    .sectionWho {
        flex-direction: row;
    }

    .sectionWho {
        flex: 0 0 60%;
        max-width: none;
    }

    .sectionWho .sectionBody p {
        flex: 0 0 40%;
    }
}
