/* ===== General HomePage ===== */

.homeInner {
    display: flex;
    flex-direction: column;
    gap: var(--space-xxl);
}

/* Headings */
.home h2 {
    color: rgb(246, 234, 213);
    background: var(--variable-bg-title);
    padding: 0.75rem 1.5rem;
    font-weight: 800;
    border-radius: 1rem;
    width: 100%;
    margin: 0 auto var(--space-md);
    text-align: center;
}

/* General Sections */
.sectionBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: justify;
    gap: var(--space-lg);
}

/* ===== VALUES ===== */
.chipList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, max-content));

    gap: var(--space-md);
    justify-content: center;
}

/* Estilos base */
.chip {
    border-radius: 9999px;
    padding: 0.5rem 1.25rem;
    border: 2px solid #ee8e9d;
    font-weight: 700;
    font-size: var(--fs-md);
    letter-spacing: 0.1rem;
    text-align: center;
    text-transform: uppercase;
    background-color: #f9f7f7;
    color: #ee8e9d; /* texto blanco por defecto */
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.25s ease, box-shadow 0.25s ease, filter 0.25s ease;
}

/* Hover moderno: ligero zoom, sombra y brillo */
.chip:hover {
    transform: translateY(-2px) scale(1.05);
    box-shadow: 0 8px 14px rgba(0, 0, 0, 0.18);
    filter: brightness(1.1);
}

/* ===== FAQs ===== */

.accordionWrapper {
    width: 97%;
    margin: auto;
}

/* ===== CONTACT ===== */

.sectionContact {
    text-align: center;
}

@media (min-width: 768px) {
    .sectionWho {
        flex-direction: row;
    }

    .sectionWho {
        flex: 0 0 60%;
        max-width: none;
    }

    .sectionWho .sectionBody p {
        flex: 0 0 40%;
    }
}
