.filterByYear {
    display: flex;
    width: 100%;
    justify-content: center;
    border-radius: 10px;
    margin-top: 1rem;
    font-size: 1rem;
}

.filterByYear li {
    cursor: pointer;
    padding: 0.2rem 1rem;
    transition: background 0.2s;
    font-weight: 700;
    color: white;
}

.filterByYear li:hover {
    border-radius: 10px;
    background: rgb(244, 195, 102);
}

.active {
    background: rgb(244, 195, 102);
    border-radius: 10px;
}
