.form {
    display: grid;
    gap: 1rem;
    max-width: 720px;
}

input,
textarea {
    padding: var(--space-sm);
    border-radius: var(--radius-sm);
    border: 2px solid var(--pastel-orange);
    font-size: var(--fs-md);
}

input:focus,
textarea:focus {
    outline: none;
    border-color: var(--energetic-orange);
}
