.gif {
    width: 250px;
    margin: 0 auto;
    height: auto;
}

@media (prefers-reduced-motion: reduce) {
    .gif {
        animation: none;
    }
}

@media (min-width: 768px) {
    .gif {
        width: 300px;
    }
}
