.accordion {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: var(--space-md) var(--space-lg);
    color: #fff;
    font-size: 0.9rem;
    background-color: var(--variable-purple);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    text-align: left;
    transition: background-color 0.5s ease;
}

.header:hover {
    background-color: var(--variable-yellow);
}

.icon {
    transition: transform 0.5s ease;
    width: 40px;
    font-weight: 100;
}

.icon.open {
    transform: rotate(180deg);
}

.panel {
    line-height: 1.5;
    font-family: "Montserrat", sans-serif;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease, padding 0.5s ease;
}

.panel.open {
    padding: var(--space-md);
    max-height: 500px;
    opacity: 1;
}
