.contactForm {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
    margin: auto;
    min-width: 300px;
}

.formGroup {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
}

.formGroup label {
    font-size: var(--space-md);
    font-weight: 400;
}

.contactForm input,
.contactForm textarea {
    padding: 1rem;
    border-radius: var(--radius-sm);
    border: 2px solid var(--pastel-orange);
    font-size: var(--fs-md);
}

.contactForm input:focus,
.contactForm textarea:focus {
    outline: none;
    border-color: var(--energetic-orange);
}

.submitBtn {
    background-color: var(--variable-orange);
    color: white;
    padding: var(--space-md);
    border: none;
    border-radius: var(--radius-md);
    cursor: pointer;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
}

.submitBtn:hover {
    background-color: var(--variable-blue);
}
