.contactForm {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
    max-width: 450px;
    width: 100%;
}

.formGroup {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
}

.formGroup label {
    font-size: 0.9rem;
    font-weight: 400;
}

.contactForm input,
.contactForm textarea {
    padding: 1rem;
    border-radius: var(--radius-sm);
    border: 2px solid var(--pastel-orange);
    font-size: var(--fs-md);
}

.contactForm input:focus,
.contactForm textarea:focus {
    outline: none;
    border-color: var(--energetic-orange);
}

.error {
    color: var(--energetic-orange);
    font-weight: 400;
    background: #fff0e6;
    padding: var(--space-sm);
    border-radius: var(--radius-sm);
    font-size: var(--fs-sm);
}
