.card {
    padding: 2rem 1rem;
    width: 100%;
}

.news {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
    margin-top: 20px;
}

.newsImage {
    width: 100%;
    aspect-ratio: 4 / 5;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 1rem;
    display: block;
}

.column {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
}

.title {
    font-weight: 400;
    font-size: var(--fs-xl);
}

@media (min-width: 768px) {
    .newsImage {
        margin-bottom: 0;
        height: auto;
    }

    .news {
        display: grid;
        grid-template-columns: 380px minmax(0, 1fr);
        align-items: start;
        column-gap: 48px;
    }

    .title {
        text-align: start;
    }
}
