.newsImg {
    width: 400px;
    border-radius: 20px;
    object-fit: cover;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.title {
    font-size: 2rem;
    font-weight: 600;
}

.subtitle {
    letter-spacing: 0;
    text-align: center;
}
