.hamburgerMenu {
    position: relative;
}

/* Button */
.burger {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    transition: transform 0.2s ease, opacity 0.2s ease;
}

.burger:hover {
    transform: scale(1.1);
    opacity: 0.9;
}
.burger:active {
    transform: scale(0.95);
}

.burger img {
    width: 40px;
    height: auto;
}

/* Hided menu */
.menuLinks {
    display: none;
    flex-direction: column;
    gap: var(--space-xl);
    align-items: center;
    justify-content: center;
    position: fixed;
    inset: 0;
    background: var(--variable-bg);
    z-index: 1002;
}

.open {
    display: flex;
}

.menuLinks a {
    color: white;
    font-weight: 400;
    transition: color 0.2s ease;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.menuLinks a:hover,
.menuLinks a:active {
    color: wheat;
}

/* Close button */
.closeButton {
    position: absolute;
    top: 0.6rem;
    right: 1.8rem;
    background: none;
    border: none;
    cursor: pointer;
}

.closeButton img {
    width: 40px;
    height: auto;
}

/* Hamburger menu only visible in mobile */
@media (min-width: 992px) {
    .hamburgerMenu {
        display: none;
    }
}
