.form {
    max-height: 80vh;
    gap: var(--space-xs);
    font-size: var(--fs-sm);
}

.form input {
    padding: 10px;
}
.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--space-md);
}

.controlsRow {
    display: flex;

    justify-content: start;
    gap: var(--space-sm);
    flex-wrap: wrap;
}

.checkbox,
.capacity {
    display: flex;
    align-items: center;
    gap: var(--space-sm);
}

.capacity {
    display: flex;
    justify-content: center;
}

.capacity input {
    width: 55px;
    height: 30px;
    padding: 2px;
}

.actions {
    display: flex;
    gap: var(--space-sm);
}
