.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    letter-spacing: 0.1rem;

    padding: 1rem 1.2rem;
    border-radius: 10px;
    border: none;

    cursor: pointer;
    text-decoration: none;
    font-weight: 600;

    transition: background-color 0.25s ease, box-shadow 0.25s ease,
        transform 0.1s ease;

    text-transform: uppercase;
}

.button:hover {
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

/* --- Variants --- */

.button--main {
    background-color: var(--variable-purple);
    color: rgb(247, 243, 235);
    border: 2px solid wheat;
    letter-spacing: 1px;
    padding: var(--space-md) var(--space-xl);
    font-size: var(--fs-lg);
}

.button--main:hover {
    background-color: transparent;
    color: #fff;
}
.button--blue {
    background-color: var(--variable-blue);
    color: #fff;
}
.button--blue:hover {
    background-color: var(--variable-green);
}

.button--red {
    background-color: var(--variable-red);
    color: #fff;
}
.button--red:hover {
    background-color: var(--variable-orange);
}

.button--orange {
    background-color: var(--variable-orange);
    color: #fff;
}
.button--orange:hover {
    background-color: var(--variable-yellow);
}

.button--pink {
    background-color: var(--variable-pink);
    color: #fff;
}
.button--pink:hover {
    background-color: var(--variable-purple);
}

.button--purple {
    background-color: var(--variable-purple);
    color: #fff;
}
.button--purple:hover {
    background-color: var(--variable-yellow);
}

/* --- Sizes --- */
.button--small {
    padding: 0.4rem 0.8rem;
    font-size: var(--fs-sm);
}

.button--medium {
    padding: 0.6rem 1.2rem;
    font-size: var(--fs-md);
}

.button--large {
    padding: 0.8rem 1.5rem;
    font-size: var(--fs-lg);
}
