.loginForm {
    display: flex;
    flex-direction: column;
    gap: var(--space-xl);
    margin: auto;
}

.login input {
    padding: var(--space-md);
    border-radius: var(--radius-md);
    border: 3px solid transparent;
    font-size: var(--fs-sm);
}

.login input:focus {
    outline: none;
    border-color: var(--pastel-orange);
}

.buttons {
    display: flex;
    justify-content: center;
    gap: var(--space-md);
}

.helperText {
    font-size: var(--fs-sm);
}

.registerLink {
    font-weight: 600;
    color: var(--energetic-blue);
    font-size: var(--fs-sm);
}

.error {
    color: #fff;
    font-weight: 600;
    background: var(--pastel-red);
    padding: var(--space-sm);
    border-radius: var(--radius-sm);
    font-size: var(--fs-sm);
}

.forgot {
    text-align: start;
    font-size: var(--fs-sm);
}
.forgot a {
    color: var(--energetic-blue);
    text-decoration: underline;
}
